footer {
    background-color: #373A3C;
}

.cabin-bold{
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}
#us {
    background-color: #DC3545;
}
.sendbutton {
    font-size: 3vw;
}

.card {
    margin-top: 7vw;
}

.line {
    width: 70vw;
}

.logo {
    font-family: 'Lobster', cursive;
}